<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'notes/css/style.css' %}">
</head>
<body>
<form action= "" method="post">
{% csrf_token %}
    {{ form.as_p }}
    <button class="my-button" type="submit">Зберегти</button>

</form>

<button class="my-button" onclick="redirectToPage()">Повернутись назад</button>
<script>
    function redirectToPage() {
        // Зміна URL
        window.location.href = "{% url 'notes:notes' %}";
    }
</script>
</body>
</html>