<!DOCTYPE html>
<html lang="en">
    <head>
        <title>my_templates</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'notes/css/style.css' %}">
      </head>
    <body>
        <h2>My notes: </h2>
        {% if notes %}
            <ul>
            {% for note in notes %}
                <li>{{ note }}</li>
                <br> <br>
            {% endfor %}
            </ul>
        {% else %}
            <p>No notes are available.</p>
        {% endif %}
        <p class="test">try not to forget anything</p>
    </body>
</html>










