 body

 {

            background-color: #ffffff;
            background-image: url('moto.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        h1 {
            margin-left: 220px;
            margin-top: 20px;
            font-family: Italic, sans-serif;
            color: white; /* Змініть "#ffffff" на бажаний колір тексту */
        }

        h6 {
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translate(-50%, -50%);
            color: #ffffff; /* Змініть "#ffffff" на бажаний колір тексту */
            font-family: Italic, sans-serif;
        }

        p {
            margin-left: 200px;
            font-family: ItalicT, sans-serif;
            color: #ffffff; /* Змініть "#ffffff" на бажаний колір тексту */
        }

        /* Встановлення кольору тексту заголовків */
        h1 {
            color: white; /* Змініть "#ffffff" на бажаний колір тексту */
        }

        /* Стилі для таблиці */
        table {
            border-collapse: collapse;
            width: 50%;
            margin-left: 20px;
            margin-right: 0px;
            margin-top: 50px;
        }

        table th {
            border: 1px solid white !important;
            padding: 10px;
            color: white !important;
            text-align: center;
            font-size: 25px; /* Встановіть бажаний розмір шрифту */
            font-weight: bold;
            font-family: Arial, sans-serif;}
        table td {
            border: 1px solid white !important;
            padding: 10px;
            color: white !important;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
        }

        /* Стилі для контейнера форми і самої форми */
        #createNoteContainer {
            margin-top: 100px;
        }

        #createNoteForm {
    margin-top: 20px;
}
         .my-button {
  background-color: black; /* Set the background color */
  color: #ffffff; /* Set the text color */
  /*border: none; !* Remove the border *!*/
  padding: 10px 20px; /* Adjust the padding */
  font-size: 16px; /* Adjust the font size */
             margin-left: 0px;
            margin-right: 0px;
             border-radius: 15px;
   /*Add any other styles you want */
}
         .nav-link {
  background-color: white; /* Set the background color */
  color: black; /* Set the text color */
  /*border: none; !* Remove the border *!*/
  padding: 10px 20px; /* Adjust the padding */
  font-size: 16px; /* Adjust the font size */
             margin-left: 0px;
            margin-right: 0px;
             border-radius: 100px;
   /*Add any other styles you want */
}