{% extends "notes/base.html" %}

{% block content %}

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }

</style>

{% load crispy_forms_tags %}
<!--<div class=container style="margin-top: 20px;">-->
  {% if form.errors %}
<div class=container style="margin-left: 200px;">
    <h2>Щось не так з іменем користувача або паролем, спробуйте ще ;)</h2>
  </div>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
<div class=container style="margin-left: 200px;">
      <h2> Для того, щоб повернутись до своїх нотаток - будь ласка залогіньтесь :)</h2>
    </div>
    {% endif %}
  {% endif %}




<div class=container style="margin-top: 50px;" >
  <form method="post"  action="{% url 'login' %}" style="color: white;">
    {% csrf_token %}
    {{ form.username|as_crispy_field }}
    {{ form.password|as_crispy_field }}
    <div class=container style="margin-top: -20px;" >
    <input type="submit" class='my-button' value="Увійти">
      </div>
<!--    <input type="submit" class='my-button' onclick="redirectToPage()" value="Зареєструватися">-->
<!--    <li><a href="/sign-up" style="color: white;">Зареєструватися</a></li>-->
<!--    <table>-->
<!--      <tr>-->
<!--        <td>{{ form.username.label_tag }}</td>-->
<!--        <td>{{ form.username }}</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>{{ form.password.label_tag }}</td>-->
<!--        <td>{{ form.password }}</td>-->
<!--      </tr>-->
<!--&lt;!&ndash;    </table>&ndash;&gt;-->
<!--    <div class=container style="margin-top: 20px;">-->
<!--    <input type="submit" class='my-button' value="Увійти">-->
<!--    <input type="hidden" name="next" value="{{ next }}">-->
<!--       </div>-->
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
<!--  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>-->
  </div>
  <div class=container style="margin-top: 50px;" >
<input type="submit" class='my-button' onclick="redirectToPage()" value="Зареєструватися">
</div>

<!--  <body class="text-center">-->

<!--<main class="form-signin">-->
<!--  <form>-->
<!--    <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
<!--    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>-->

<!--    <div class="form-floating">-->
<!--      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">-->
<!--      <label for="floatingInput">Email address</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">-->
<!--      <label for="floatingPassword">Password</label>-->
<!--    </div>-->

<!--    <div class="checkbox mb-3">-->
<!--      <label>-->
<!--        <input type="checkbox" value="remember-me"> Remember me-->
<!--      </label>-->
<!--    </div>-->
<!--    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>-->
<!--    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>-->
<!--  </form>-->
<!--</main>-->
<script>
    function redirectToPage() {
        // Зміна URL
        window.location.href = "{% url 'notes:sign_up' %}";
    }
</script>

{% endblock %}
