{% extends 'notes/base.html' %}

{% block content %}
    <div class="container">
  <h1>Записная книжка</h1>
  <a href="{% url 'create_note' %}" class="btn btn-primary">Создать новую заметку</a>

  <ul class="list-group mt-4">
    {% for note in notes %}
      <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="mb-1">{{ note.title }}</h5>
          <span class="badge bg-primary">{{ note.category.title }}</span>
        </div>
        <p class="mb-1">Дата создания: {{ note.created_at }}</p>
        <a href="{% url 'view_note' note_id=note.id %}" class="btn btn-secondary btn-sm">Просмотреть</a>
      </li>
    {% empty %}
      <li class="list-group-item">Нет заметок</li>
    {% endfor %}
  </ul>

  <a href="{% url 'index' %}" class="btn btn-secondary mt-4">Назад на главную</a>
    </div>
{% endblock %}
